venv/
.idea/
.DS_Store
worksheet.txt
idna
__pycache__
idna-2.7.dist-info
bin
jmespath
boto3
jmespath-0.9.3.dist-info
boto3-1.9.30.dist-info
python_dateutil-2.7.3.dist-info
botocore
requests
botocore-1.12.30.dist-info
requests-2.20.0.dist-info
certifi
certifi-2018.10.15.dist-info
s3transfer
chardet
s3transfer-0.1.13.dist-info
chardet-3.0.4.dist-info
six-1.11.0.dist-info
dateutil
six.py
docutils
urllib3
docutils-0.14.dist-info
urllib3-1.24.dist-info
